

<body>

<select><option value="Nombre" *ngFor="let name of names" >{{name.first_name}}</option></select>

<ul>
  <li>
    <h3>Apellido: </h3>
    <input type="Apellido" name="Apellido" maxlength="100">
    <h3>Sexo</h3>
    <input type="radio" name="Sexo" id="cbxMasculino" value="Masculino">
    <label for="cbxMasculino">Masculino</label>
    <br>
    <input type="radio" name="Sexo" id="cbxFemenino" value="Femenino">
    <label for="cbxFemenino">Femenino</label>
    <br>
    <input type="radio" name="Sexo" id="cbxOtro" value="Otro">
    <label for="cbxOtro">Otro</label>
    <h3>Lo que aprendí en las clases del viernes: </h3>
    <p>Principalmente uso de Angular, formularios reactivos y dinámicos, diseño enfocado a personas ciegas (lo que se agradece mucho), llamar a servicios, usar su data y mucho más, agradezco las clases y la disposición de los profes. </p>
  </li>
  <button onclick="location.href='http://conectter.com/assets/img/digital_factory.svg' "type="submit">Enviar</button>
</ul>


